/* ORANGE - #c8482d */
/* RED - #782c1c */

@font-face {
    font-family: "Gotham-Black";
    src: url("fonts/Gotham-Black.otf") format("opentype");
}

@font-face {
    font-family: "Gotham-Medium";
    src: url("fonts/Gotham-Medium.otf") format("opentype");
}

.card {
    min-height: 300px;
    position: relative;
    background: #c8482d;
    color: #fff;
    margin: 2rem 0;
    font-family: 'Gotham-Medium';
    font-size: 1.5rem;
    text-align: center;
}

h1 {
    font-family: 'Gotham-Black';
    font-size: 2.5rem;
    color: #c8482d;
    text-transform: uppercase;
}

h2 {
    font-family: 'Gotham-Black';
    font-size: 1.75rem;
    color: #000;
    text-transform: uppercase;
    margin-top: 2.0rem;
    margin-bottom: 2.0rem;
}

em {
    font-family: 'Gotham-Black';
    font-style: normal;
    font-size: 3.5rem;
    display: block;
    width: 100%;
    text-transform: uppercase;
}

strong {
    font-family: 'Gotham-Black';
    font-style: normal;
    font-size: 2.0rem;
    display: block;
    width: 100%;
    text-transform: uppercase;
}

.card-header {
    text-align: center;
    border: 0;
    height: 70px;
    margin-top: -35px;
    background: transparent url('./img/alabama-black.svg') center center no-repeat;
}


