/* red #c8492e */
/* grey #333333 */


@font-face {
    font-family: "Gotham-Book";
    src: url("fonts/Gotham-Book.otf") format("opentype");
}

@font-face {
    font-family: "Gotham-Black";
    src: url("fonts/Gotham-Black.otf") format("opentype");
}

@font-face {
    font-family: "Gotham-Medium";
    src: url("fonts/Gotham-Medium.otf") format("opentype");
}

@font-face {
    font-family: "Gotham-Thin";
    src: url("fonts/Gotham-Thin.otf") format("opentype");
}

.btn-red {
    background-color: #c8492e;
    border-color: #a03a24;
    padding-left: 2rem;
    padding-right: 2rem;
}

.btn-red:hover {
    background-color: #a03a24;
    border-color: #742919;
}

.alabamaBackground {
    background: #000 url('./img/alabama.svg') center center no-repeat;
    padding: 1.5rem 0;
}

.jumbotron {
    background-color: #000;
    color: #fff;
    text-align: center;
    background-image: url('./img/cityscape.svg');
    background-clip: border-box;
    background-size: auto 150px;
    background-repeat: repeat-x;
    background-position: bottom center;
    /* animation: scrollLeft 8s; */
    overflow-x: hidden;
    margin-bottom: 0;
}

@keyframes scrollLeft{
    from {background-position: bottom left;}
    to {background-position: bottom right;}
}

.jumbotron h1 {
    font-family: 'Gotham-Medium', Arial, serif;
    font-weight: normal;
    font-style: normal;
    font-size: 7.5rem;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 7.5rem;
}

.jumbotron h2 {
    font-family: 'Gotham-Book', serif;
    font-weight: normal;
    font-size: 3.8rem;
    line-height: 3.8rem;
    margin-top: -9px;
    margin-bottom: 4rem;
}

.jumbotron h3 {
    font-family: 'Gotham-Thin', serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: .5rem;
    margin-bottom: 1.5rem;
}

@media all and (max-width: 575px) {
    .jumbotron h1 {
        font-size: 4.3rem;
        line-height: 4.3rem;
    }
    .jumbotron h3 {
        font-size: .9rem;
        letter-spacing: .2rem;
        margin-bottom: 1.2rem;
    }
    .jumbotron h2 {
        font-size: 2rem;
        margin-top: -24px;
        margin-bottom: 10px;
    }
}

@media all and (max-width: 350px) {
    .jumbotron h1 {
        font-size: 2.3rem;
        line-height: 2.3rem;
    }
    .jumbotron h3 {
        font-size: .7rem;
        letter-spacing: .2rem;
        margin-bottom: 1.2rem;
    }
    .jumbotron h2 {
        font-size: 1rem;
        margin-top: -24px;
        margin-bottom: 10px;
    }
}


.jumbotron p:first-of-type {
    margin: 4.3rem 0;
}

.stayInformed_Container {
    padding: 0;
    font-size: 1.2rem;
    text-align: left;
}

@media all and (max-width: 767px) {
    .stayInformed_Container {
        font-size: 1rem;
    }
}

.submitButton {
    padding-left: 2rem;
    padding-right: 2rem;
}

.submitButton_Container {
    padding: 0;
}

.emailForm {
    text-align: center;
    margin: 0 auto;
    background-color: #000;
    color: #fff;
    padding-bottom: 1.8rem;
}

.emailForm form {
    margin: 0;
}

.emailForm input { 
    width: 100% !important;
}

.emailForm label {
    font-size: .75rem;
    line-height: 1.8rem;
}

.emailForm .form-group {
    margin-top: -1.8rem;
}

@media all and (max-width: 575px) {
    .stayInformed_Container {
        text-align: left;
        padding-left: 15px;
    }
    .emailForm label {
        font-size: .75rem;
        line-height: .90rem;
        padding-top: 1rem;
    }

    .emailForm .form-group {
        margin-top: 0;
        text-align: left;
    }
}

.infoBlock {
    padding: 1.5rem 0;
    text-align: center;
}

.infoBlock p {
    font-family: 'Gotham-Medium','Arial', serif;
    font-size: 1.3rem;
}

.infoBlock p.longText {
    text-align: left;
    padding-left: 1rem;
    font-size: .85rem;
}

.infoBlock--dark {
    background-color: #000;
    color: #fff;
}

.infoBlock--light {
    background-color: #fff;
    color: #000;
}

.infoBlock--light h4, .infoBlock--light h5 {
    color: #c8492e;
}

.infoBlock h4, .infoBlock h5, .infoBlock h6, .infoBlock p {
    width: 100%;
}

.infoBlock a {
    max-width: 100%;
    overflow: hidden;
    padding-left: .6rem;
    padding-right: .6rem;
}

.infoBlock h6 {
    font-family: 'Gotham-Black';
    font-size: 2.2rem;
    margin-bottom: 2.2rem;
}

.infoBlock h4 {
    font-family: 'Gotham-Black', 'Arial', serif;
    font-size: 3.8rem;
    line-height: 3.8rem;
    text-transform: uppercase;
    margin: 0;
}

.infoBlock strong {
    font-family: 'Gotham-Black', 'Arial', serif;
    font-weight: 900;
}

.infoBlock h4.squish {
    margin-top: -10px;
}

.infoBlock h5 {
    font-family: 'Gotham-Medium', 'Arial', serif;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 0;
}

.infoBlock p strong {
    font-family: 'Gotham-Medium', 'Arial', serif;
    font-weight: 900;
}

footer {
    background-color: #ccc;
    padding: 3rem;
    bottom: 0;
    width: 100%;
}

footer a, footer a:active, footer a:visited {
    color: #000;
    text-decoration: none;
}

footer img {
    max-width: 120px;
}

.red {
    color: #c8492e;
}

.paidForBy {
    font-size: .5rem;
    bottom: 12px;
}

.paidForBy_Container a {
    font-size: 9px;
}